@import url('https://fonts.googleapis.com/css?family=Lato|Raleway'); /* importowanie stylow z google fonts*/

body{
	background-color: #f2f2f2;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: #00qaaa; /* kolor czcionki*/
	-webkit-font-smoothing: antialiased; /* gladka czcionka*/
	margin-top: 70px;
}

h1,h2,h3,h4,h5,h6{
	font-family: "Raleway";
	font-weight: 300;
	color: #00qaaaa;
}
p{
	line-height: 28px;
	margin-bottom: 25px;
}

.centered{
	text-align:center;
}

#linkHome a, #linkService a,#linkAboutUs a{
	color: #ffffff;
	-webkit-transition: all 0.8s ease;
}

#linkHome a:hover{
	background-color: #DB3348;
	-webkit-transform: rotate(-5deg);
}

#linkService a:hover{
	background-color: #FF953E;
	-webkit-transform: rotate(-5deg);
}

#linkAboutUs a:hover{
	background-color: #57AFC4;
	-webkit-transform: rotate(-5deg);
}

hr{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.navbar{
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-inverse{
	border-color: #008C05;
	background-color: #008C05;
}


.navbar-inverse {
	color: #ffffff;
	font-weight: bolder;
	font-size: 18px;
	letter-spacing: 1px;
}

#headerwrap {
	background: url(../img/exchange_rates7_1.jpg) no-repeat center top;
	margin-top: - 10px;
	padding-top: 20px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 600px;
	width: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#headerwrap h1{
	margin-top: 50px;
	color: white;
	font-size: 50px;
	font-weight: 100;
	letter-spacing: 3px;
}

#headerwrap h2{
	color: white;
	font-size: 40px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#service{
	background: #E0E0E0;
	min-height:600px;
	text-align: center;
	text-transform: uppercase;
}
#service p{
	margin-top: 230px;
	font-size: 40px;
}

#info{
	background: #FF953E;
	font-size: 20px;
}

#info i{
	color: #ffffff;
}


#about_us{
	background: #57AFC4;
	padding-top: 10px;
	padding-bottom: 50px;
	margin: 90;
	text-align: center;
}

#about_us i{
	color:#6A1B1D;
	font-size: 30px;
}

#about_us i:hover{
	color: #FF953E;
}

#about_us p{
	margin-top:0;
	margin-bottom:0;
}

#about_us h4{
	font-size: 30px;
}

.titl{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition:: all 0.5s ease;
}

.titl:hover{
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform:rotate(-10deg);
	transform: rotate(-10deg);
}

#footer{
	background: #008C05;
	padding-top:30px;
	padding-bottom: 20px;
}
#footer i{
	color: #bdbdbd;
	font-size:30px;
	padding:20px;
}

#footer i:hover{
	color:#ff7878;
}

input{
	width:50;
}